.column {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  min-width: 275px;
  width: 100%;
  border-radius: 8px;
  margin-left: 20px;
  height: 96%;
}

.column:first-child {
  margin-left: 0px;
}

.column__header {
  display: flex;
  flex: 1;
  align-items: center;
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  color: #141414;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.column__header--abertos {
  background: fade(#f5222d, 25%);
}

.column__header--executados {
  background: fade(#d4662d, 25%);
}

.column__header--vistoriados {
  background: fade(#52c41a, 25%);
}

.column__header--arquivados {
  background: fade(#c1b9b9, 25%);
}

.column__content {
  padding: 8px;
  overflow: hidden;
  height: 90%;
}

.column__button {
  width: 90%;
  background: #8d89a5;
  color: #ffffff;
  margin-bottom: 8px;
}
